<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/404.css" rel="stylesheet">
    <title>出错啦...</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
    <div class="container_12 content " style="text-align:right;background-image:none;padding-bottom: 25px;">
    <div style="float:left;width:540px;text-align:center;margin-top:85px;">
    <h1 style="margin-bottom:95px;">糟糕! 您遇到坑了...</h1>


    <h3>我们抱歉的通知您，您访问的页面不存在<br><br><span style="color:#bbbbbb;">Code 404</span></h3></div>

    <img src="/static/img/404.jpg" alt="toilet paper" width="320" height="320" class="img-circle">
  </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
